<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="bibli Live Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./tests/build</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
    </logging>
    <php>
      <!--
      <env name="REDIS_HOST" value="127.0.0.1" />
      <env name="REDIS_PORT" value="6379" />
      -->
      <ini name="display_errors" value="On" />
      <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
